# Back-End Environment
MONGO_URL=mongodb://localhost:27017/teslodb
JWT_SECRET_SEED=

# Authentications Providers:
# GITHUB
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
NEXTAUTH_SECRET=

# Front-End Environment using NEXT_PUBLIC_... (Variables Publicas)
NEXT_PUBLIC_TAX_RATE=
